<form asp-action="Index" method="post">
    <input type="number" name="CanNang" placeholder="Nhập cân nặng(kg)" />
    <input type="number" name="ChieuCao" placeholder="Nhập chiều cao(cm)" />
    <input type="submit" value="Gửi" />
</form>
<h2>Du Lieu: @ViewBag.Message</h2>